@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
}

body{
  width: 100%;
  font-family: "Poppins", sans-serif;;
  background: white;
}

h1{
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
}

/* Estilos del Menu completo */

.header{
  background: white;
  display: flex;
  margin-bottom: 30px;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo img{
  width: 150px;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  display: block;
  margin-right: 200px;
}
section .content{
  width: 100%;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5px;
  margin-top: 20px;
  margin-left: 100px;
}
.header li{
  font-family: "Poppins", sans-serif;;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  background: #088ac7;
  color: white;
  transition-duration: 0.1s;
  border-radius: 15px;
}
.header li:hover{
  text-decoration: underline;
  background-color: white;
  font-weight: bold;
  color: #088ac7;
}


.imgcalendario{
  width: 25px;
  height: 25px;
  display: flex;
  margin-left: 250px;
}
.btnexamen{
  display: flex;
  border: none;
  color: #088ac7;
  padding: 5px 5px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 20px; 
  cursor: pointer;
  border-radius: 8px; 
  transition-duration: 0.2s; 
  outline: none;
  font-weight: bold
}
.btnexamen:hover{
  text-decoration: underline;
  color: #06abf7;
}


.page{
  margin: 10px 0px;
}
.page img{
  width: 100%;
  margin: auto;
}

/* Estilos del footer */

footer{
  text-align: center;
  margin-top: 50px;
}

.redes{
  display: flex;
  margin: auto;
  justify-content: center;
}

.redes .instagram, .facebook, .tiktok{
  padding: 5px 15px;
}

/* Estilos pagina contacto y formulario */

form{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
}

form label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

form input[type="text"],
input[type="textarea"],
input[type="email"]{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  background: rgb(249, 247, 247);
}

form .error{
  color: red;
  font-size: 12px;
  margin-top: 5px;
  justify-content: center;
}

form .btnEnviarF{
  background-color: #007bff;
  margin: 15px auto;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  width: 100%;
}
form .btnEnviarF:hover{
  background-color: #3f9afb;
  color: white;
}

/* Estilos slider o Carrusel */

.Carosul{
  width: 96%;
  justify-content: center;
  margin: auto;
}

.CarosulSec {
  width: 96%;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  padding-left: 50px;
}

.TituloCarosulSec{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 70px;
  color: black;
}

/* Estilos de contenedor de Paquetes en pagina de Inicio */

.PaquetesInicio{
  margin-top: 25px;
  display: flex;
}

.contenedor-paquetes{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f3eeee;
}

.contenedor-paquetes img{
  margin: 35px 45px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 30px;
}
.btnVerMas{
  display: flex;
  background: #088ac7;
  margin: auto;
  color: white;
  width: 30%;
  padding: 3px;
  margin-bottom: 30px;
  border-radius: 12px;
  justify-content: center;
}
.btnVerMas:hover{
  text-decoration: underline;
  background-color: white;
  font-weight: bold;
  color: #088ac7;
}

h3{
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
}

/* Estilos de contenedor de Lentes de Contacto en pagina de Inicio */
.contenedor-lentescontacto{
  display: flex;
  margin: 30px 0px;
}
.imgPrincipal{
  display: flex;
  width: 50%;

}
.imgPrincipal img{
  margin: auto;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 550px;
}
.imgSecundaria{
  width: 25%;
}
.imgSecundaria img{
  margin: auto;
}
.PrecioInicio{
  text-align: center;
  font-size: 25px;
  color:#088ac7;
  padding-bottom: 10px;
  font-weight: bold;
}