@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: "Poppins", sans-serif;;
  background: white;
}

h1{
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
}

.header{
  background: white;
  margin: 0px;
  display: flex;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo img{
  width: 150px;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  display: block;
  margin-right: 200px;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5px;
  margin-top: 20px;
  margin-left: 100px;
}
.header li{
  font-family: "Poppins", sans-serif;;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  background: #088ac7;
  color: white;
  transition-duration: 0.1s;
  border-radius: 15px;
}
.header li:hover{
  text-decoration: underline;
  background-color: white;
  font-weight: bold;
  color: #088ac7;
}


.imgcalendario{
  width: 25px;
  height: 25px;
  display: flex;
  margin-left: 250px;
}
.btnexamen{
  display: flex;
  border: none;
  color: #088ac7;
  padding: 5px 5px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 20px; 
  cursor: pointer;
  border-radius: 8px; 
  transition-duration: 0.2s; 
  outline: none;
  font-weight: bold
}
.btnexamen:hover{
  text-decoration: underline;
  color: #06abf7;
}


.page{
  margin: 10px 0px;
}
.page img{
  width: 100%;
  margin: auto;
}

/* Estilos del footer */

footer{
  text-align: center;
  margin-top: 15px;
}

.redes{
  display: flex;
  margin: auto;
  justify-content: center;
}

.redes .instagram, .facebook, .tiktok{
  padding: 5px 15px;
}

/* Estilos pagina contacto y formulario */

form{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
}

form label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

form input[type="text"],
input[type="textarea"],
input[type="email"]{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  background: rgb(249, 247, 247);
}

form .error{
  color: red;
  font-size: 12px;
  margin-top: 5px;
  justify-content: center;
}

form .btnEnviarF{
  background-color: #007bff;
  margin: 15px auto;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  width: 100%;
}
form .btnEnviarF:hover{
  background-color: #3f9afb;
  color: white;
}
